.vector-icon5 {
  position: absolute;
  height: 0.34%;
  width: 0.49%;
  top: 37.66%;
  right: 4.44%;
  bottom: 62%;
  left: 95.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.footer-shape2,
.newsletter-shape2 {
  position: absolute;
  top: 1535px;
  left: 0;
  background-color: var(--fixam-darker-grey);
  width: 1441px;
  height: 520px;
}
.newsletter-shape2 {
  top: 1223px;
  background-color: var(--fixam-black);
  width: 1440px;
  height: 315px;
}
.fixam2 {
  font-weight: 600;
  color: var(--fixam);
}
.hello-there-new-container2 {
  position: absolute;
  top: 1297px;
  left: calc(50% - 182px);
  font-size: var(--font-size-9xl);
}
.subscribe-to-our2 {
  position: absolute;
  top: 1349px;
  left: calc(50% - 249px);
}
.group-child26,
.submit-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--fixam-white);
  width: 337px;
  height: 51px;
}
.submit-inner {
  background-color: var(--fixam);
  width: 146px;
}
.submit5 {
  position: absolute;
  top: 13px;
  left: 35px;
  display: inline-block;
  width: 77px;
  height: 25px;
}
.rectangle-parent11,
.submit4 {
  position: absolute;
  top: 0;
  left: 361px;
  width: 146px;
  height: 51px;
}
.rectangle-parent11 {
  left: 0;
  width: 507px;
}
.email-icon1,
.enter-e-mail-address1 {
  position: absolute;
  top: 0;
  left: 58px;
}
.email-icon1 {
  top: 4px;
  left: 0;
  width: 27px;
  height: 21px;
  object-fit: cover;
}
.enter-e-mail-address-group {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 262px;
  height: 30px;
  color: var(--fixam-dark-grey);
}
.group-parent9 {
  position: absolute;
  top: 1402px;
  left: 480px;
  width: 507px;
  height: 51px;
  font-size: var(--font-size-xl);
}
.selling-tips2 {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.selling-tips-buy-container2,
.tips-for-quick2 {
  position: absolute;
  top: 51.3px;
  left: 2.1px;
  display: inline-block;
  width: 168.7px;
  height: 264.7px;
}
.tips-for-quick2 {
  top: 0;
  left: 0;
  width: 164.6px;
  height: 21.6px;
}
.selling-tips-buy-and-sell-quic-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 170.8px;
  height: 316px;
}
.company-contact-container2,
.information2 {
  position: absolute;
  top: 51.3px;
  left: 2.1px;
  display: inline-block;
  width: 211.2px;
  height: 249.4px;
}
.information2 {
  top: 0;
  left: 0;
  width: 102.5px;
  height: 21.6px;
}
.company-contact-info-blog-container {
  position: absolute;
  top: 0;
  left: 199.8px;
  width: 213.3px;
  height: 300.7px;
}
.contact-us2 {
  margin: 0;
}
.help-and-support2,
.live-chat-faq-container2 {
  position: absolute;
  top: 51.3px;
  left: 2.1px;
  display: inline-block;
  width: 166.7px;
  height: 216.1px;
}
.help-and-support2 {
  top: 0;
  left: 0;
  width: 148px;
  height: 21.6px;
}
.live-chat-faq-how-to-stay-safe-container {
  position: absolute;
  top: 0;
  left: 442px;
  width: 168.7px;
  height: 267.4px;
}
.fixam-blog-fixam-container2,
.our-resources2 {
  position: absolute;
  top: 51.3px;
  left: 0;
  display: inline-block;
  width: 121.1px;
  height: 216.1px;
}
.our-resources2 {
  top: 0;
  width: 124.2px;
  height: 21.6px;
}
.fixam-blog-fixam-on-fb-our-ins-container,
.group-parent10 {
  position: absolute;
  top: 0;
  left: 639.8px;
  width: 124.2px;
  height: 267.4px;
}
.group-parent10 {
  top: 1660px;
  left: 424px;
  width: 764px;
  height: 316px;
}
.copyright-2023-fixamafrica2 {
  position: absolute;
  top: 2016px;
  left: calc(50% - 182px);
  font-weight: 300;
}
.fixamafrica2,
.socials3 {
  position: absolute;
  top: 0;
  left: 0;
}
.fixamafrica2 {
  top: 9px;
  left: 98px;
  font-size: var(--font-size-xs);
}
.socials-parent1 {
  position: absolute;
  top: 318px;
  left: 6px;
  width: 181px;
  height: 36px;
}
.fixam-logo-25,
.social-media-icon2 {
  position: absolute;
  top: 369px;
  left: 6px;
  width: 167px;
  height: 31px;
  object-fit: cover;
}
.fixam-logo-25 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fixam-logo-24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 167px;
  height: 167px;
}
.kolo-s-close2 {
  position: absolute;
  top: 182px;
  left: 0;
  font-size: var(--font-size-xs);
  white-space: pre-wrap;
  display: inline-block;
  width: 289px;
}
.group-child27 {
  position: absolute;
  top: 251px;
  left: 0;
  width: 253px;
  height: 44px;
  object-fit: cover;
}
.group-parent11 {
  position: absolute;
  top: 1603px;
  left: 88px;
  width: 289px;
  height: 400px;
  font-size: var(--font-size-5xl);
}
.logo-masked-icon3 {
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.search-text-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--fixam-white);
}
.search-products-materials2 {
  position: absolute;
  height: 37.25%;
  width: 57.03%;
  top: 33.33%;
  left: 3.25%;
  display: inline-block;
}
.search-text2 {
  position: absolute;
  height: 100%;
  width: 91.26%;
  top: 0;
  right: 8.74%;
  bottom: 0;
  left: 0;
}
.search-button-inner {
  position: relative;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--fixam-white);
  width: 49px;
  height: 51px;
  z-index: 0;
}
.search-vector-icon2 {
  position: absolute;
  margin: 0 !important;
  height: 41.18%;
  width: 42.68%;
  top: 28.63%;
  right: 29.47%;
  bottom: 30.2%;
  left: 27.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.search-button2 {
  position: absolute;
  height: 100%;
  width: 6.94%;
  top: 0;
  right: 8.74%;
  bottom: 0;
  left: 84.32%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.microphone-inner {
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--fixam-white);
  width: 46px;
  height: 48px;
  z-index: 0;
}
.mic-icon2 {
  position: absolute;
  margin: 0 !important;
  height: 43.73%;
  width: 22.56%;
  top: 27.45%;
  right: 40.45%;
  bottom: 28.82%;
  left: 36.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.microphone2 {
  position: absolute;
  height: 100%;
  width: 6.94%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 93.06%;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.search-text-container {
  position: relative;
  width: 709px;
  height: 51px;
  font-size: var(--font-size-sm);
  color: var(--fixam-dark-grey);
}
.wishlist-icon4 {
  position: relative;
  width: 34.3px;
  height: 34.3px;
  object-fit: cover;
}
.frame-child3 {
  width: 34px;
  height: 32px;
  object-fit: cover;
}
.cart1,
.frame-child3 {
  position: relative;
}
.group-parent12 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-base);
}
.login2 {
  position: relative;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 74px;
  height: 18px;
  flex-shrink: 0;
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--fixam-white);
  width: 105px;
  height: 32px;
}
.become-a2,
.vendor2 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 30.5px);
  font-weight: 500;
}
.vendor2 {
  top: calc(50% - 3px);
  left: calc(50% - 21.5px);
}
.become-a-vendor3 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 30.7px);
  width: 61px;
  height: 30px;
}
.rectangle-parent12 {
  position: relative;
  width: 105px;
  height: 32px;
  text-align: center;
  color: var(--fixam);
}
.logo-masked-group {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--fixam);
  width: 1440px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xs);
}
.store-registration-2-child {
  position: absolute;
  top: 357px;
  left: 599px;
  border-radius: var(--br-xs);
  background-color: var(--fixam-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 752px;
  height: 707px;
}
.proceed {
  position: relative;
  font-weight: 600;
}
.proceed-wrapper {
  position: absolute;
  top: 980px;
  left: 759px;
  border-radius: var(--br-7xs);
  background-color: var(--fixam);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 451px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.logo-masked-icon2 {
  position: absolute;
  height: 3.89%;
  width: 5.56%;
  top: 1.22%;
  right: 88.03%;
  bottom: 94.89%;
  left: 6.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.store-registration-2-child1,
.store-registration-2-inner,
.store-registration-2-item {
  border: 1px solid var(--color-gray-100);
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 504px;
  left: 739px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 490px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-10xs);
  color: var(--color-silver);
}
.store-registration-2-child1,
.store-registration-2-inner {
  top: 567px;
}
.store-registration-2-child1 {
  top: 630px;
}
.vector-icon6 {
  position: absolute;
  height: 15.86%;
  width: 22.63%;
  top: 26.23%;
  right: 63.97%;
  bottom: 57.91%;
  left: 13.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.store-registration-2-child2 {
  position: absolute;
  top: 130px;
  left: 0;
  background-color: var(--fixam-dark-grey);
  width: 1440px;
  height: 116px;
}
.banner2,
.logo1 {
  position: absolute;
  top: 700px;
  left: 740px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  text-align: center;
}
.banner2 {
  top: 812px;
  left: 739px;
}
.must-be-a {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.must-be-a-png-file-max-size-o-wrapper {
  position: absolute;
  top: 786px;
  left: 740px;
  width: 214px;
  height: 18px;
  font-size: var(--font-size-xs);
  color: var(--color-silver);
}
.resolution-1440-x {
  position: relative;
  font-weight: 500;
}
.resolution-1440-x-400px-must-wrapper {
  position: absolute;
  top: 929px;
  left: 742px;
  width: 485px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-silver);
}
.fix-ad-here1 {
  position: absolute;
  top: 152px;
  left: calc(50% - 130px);
  font-size: var(--font-size-29xl);
}
.group-input {
  position: absolute;
  top: 722px;
  left: 739px;
  width: 78px;
  height: 65.5px;
}
.store-registration-2-child3 {
  position: absolute;
  top: 837px;
  left: 739px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro);
  width: 490px;
  height: 91px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) 79px;
  box-sizing: border-box;
}
.group-child28,
.group-child29 {
  position: absolute;
  top: 22.5px;
  left: 48.5px;
  border-top: 3px solid var(--fixam);
  box-sizing: border-box;
  width: 129px;
  height: 3px;
}
.group-child29 {
  left: 220.5px;
  border-top: 3px solid var(--color-silver);
  width: 123px;
}
.group-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--fixam);
  width: 49px;
  height: 49px;
}
.div21 {
  position: absolute;
  top: 6px;
  left: 21px;
}
.ellipse-parent1 {
  position: relative;
  width: 49px;
  height: 49px;
}
.contact1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--fixam);
}
.group-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.group-child31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--fixam);
  width: 50px;
  height: 49px;
}
.div22 {
  position: absolute;
  top: 6px;
  left: 16px;
}
.ellipse-parent2 {
  position: relative;
  width: 50px;
  height: 49px;
}
.group-parent14 {
  position: absolute;
  top: 0;
  left: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.socials4 {
  position: absolute;
  top: 53px;
  left: 0;
  font-weight: 600;
}
.group-child32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver);
  width: 49px;
  height: 49px;
}
.div23 {
  position: absolute;
  top: 6px;
  left: 17px;
}
.ellipse-parent3,
.socials-parent2 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 49px;
  height: 49px;
  font-size: var(--font-size-5xl);
  color: var(--fixam-white);
}
.socials-parent2 {
  left: 336px;
  width: 55px;
  height: 76px;
  font-size: var(--font-size-mini);
  color: var(--color-silver);
}
.frame-container,
.line-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 391px;
  height: 76px;
}
.line-parent {
  top: 367px;
  left: 789px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.store-registration-2 {
  position: relative;
  background-color: var(--fixam-white);
  width: 100%;
  height: 2055px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--fixam-white);
  font-family: var(--font-poppins);
}
